---
title: home
---

{% extends 'layouts/_layout-main.html' %}

{% block content %}

<section class="hero">

    <div class="hero__slider js-hero-slider">

        <div class="hero__slide">
            <div class="hero__background">
                <img src="../img/hero_slide.png" alt="">
            </div>
            <div class="hero__content">
                <div class="container">
                    <h1>Сертификат для продажи авто</h1>
                    <h2>Полная диагностика по 546 пунктам</h2>
                    <span>Компьютерная диагностика + осмотр экспертом + отчет</span>
                    <a href="#" class="btn">Заказать диагностику</a>
                </div>
            </div>
        </div>

        <div class="hero__slide">
            <div class="hero__background">
                <img src="../img/hero_slide.png" alt="">
            </div>
            <div class="hero__content">
                <div class="container">
                    <h1>Сертификат для продажи авто</h1>
                    <h2>Полная диагностика по 546 пунктам</h2>
                    <span>Компьютерная диагностика + осмотр экспертом + отчет</span>
                    <a href="#" class="btn">Заказать диагностику</a>
                </div>
            </div>
        </div>

        <div class="hero__slide">
            <div class="hero__background">
                <img src="../img/hero_slide.png" alt="">
            </div>
            <div class="hero__content">
                <div class="container">
                    <h1>Сертификат для продажи авто</h1>
                    <h2>Полная диагностика по 546 пунктам</h2>
                    <span>Компьютерная диагностика + осмотр экспертом + отчет</span>
                    <a href="#" class="btn">Заказать диагностику</a>
                </div>
            </div>
        </div>

        <div class="hero__slide">
            <div class="hero__background">
                <img src="../img/hero_slide.png" alt="">
            </div>
            <div class="hero__content">
                <div class="container">
                    <h1>Сертификат для продажи авто</h1>
                    <h2>Полная диагностика по 546 пунктам</h2>
                    <span>Компьютерная диагностика + осмотр экспертом + отчет</span>
                    <a href="#" class="btn">Заказать диагностику</a>
                </div>
            </div>
        </div>

    </div>

    <div class="hero-slider-progressbar">
        <span></span>
    </div>
</section>

<section class="home__cards">
    <div class="container">

        <div class="home__cards__row">

            <div class="item">
              <div class="item__img">
                <img src="../img/home/card-car1.png" alt="">
              </div>
              <div class="item__content">
                <div class="item-heading">
                  <h2>Купить авто</h2>
                </div>
                <div class="item-text">
                  <p>Полная копмьютерная диагностика - на выезд</p>
                </div>
                <a href="#" class="btn">Застраховать</a>
              </div>
            </div>

            <div class="item">
              <div class="item__img">
                <img src="../img/home/card-car2.png" alt="">
              </div>
              <div class="item__content">
                <div class="item-heading">
                  <h2>Продать авто</h2>
                </div>
                <div class="item-text">
                  <p>Полная копмьютерная диагностика - на выезд</p>
                </div>
                <a href="#" class="btn">Застраховать</a>
              </div>
            </div>
            <div class="item">
              <div class="item__img">
                <img src="../img/home/card-laptop.png" alt="">
              </div>
              <div class="item__content">
                <div class="item-heading">
                  <h2>Проверить авто</h2>
                </div>
                <div class="item-text">
                  <p>Полная копмьютерная диагностика - на выезд</p>
                </div>
                <a href="#" class="btn">Застраховать</a>
              </div>
            </div>
            <div class="item">
              <div class="item__img">
                <img src="../img/home/card-certificate.png" alt="">
              </div>
              <div class="item__content">
                <div class="item-heading">
                  <h2>Сертификат авто</h2>
                </div>
                <div class="item-text">
                  <p>Полная копмьютерная диагностика - на выезд</p>
                </div>
                <a href="#" class="btn">Застраховать</a>
              </div>
            </div>
        </div>

        <div class="home__cards__row home__cards__row--big">
            <div class="item item--big">
              <div class="item-heading">
                <h2>Проверка авто перед покупкой</h2>
              </div>
              <div class="item__content">
                <div class="home__cards-text">
                  <p>Полная копмьютерная диагностика - на выезд</p>
                  <a href="#" class="btn">Поехали</a>
                </div>
                <div class="home__cards-img">
                  <img src="../img/home/card-car-svg.svg" alt="">
                </div>
              </div>
            </div>
            <div class="item item--big">
              <div class="item-heading">
                <h2>Получите сертификат качества авто</h2>
              </div>
              <div class="item__content">
                <div class="home__cards-text">
                  <p>Полная копмьютерная диагностика - на выезд</p>
                  <a href="#" class="btn">Поехали</a>
                </div>
                <div class="home__cards-img">
                  <img src="../img/home/card-certificate-svg.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

<section class="home__intro">
    <div class="container">
        <div class="home__intro__content">
                  <div class="home__intro__content-text">
                    <h2 class="text-heading">
                            Всем добра
                    </h2>
                    <p>Правильно определенная миссия хотя и имеет всегда общий философский смысл,
                        тем не менее обязательно несет в себе что-то, что делает её уникальной в
                        своем роде, характеризующей именно ту организацию, в которой она была
                        выработана.</p>
                    <p>По мнению Стива Бланка, известного американского предпринимателя,
                        «Крестного отца Кремниевой долины», миссия организации может стать
                        эффективным инструментом управления, если она содержит как описание задач,
                        которые необходимо выполнить, так и обоснование этих задач. Она должна отвечать
                        на вопросы: зачем люди приходят на работу, чем они занимаются и как определяют,
                        что они делают это хорошо.</p>
                </div>
              </div>
          </div>
        <div class="home__intro__content-img">
            <img src="../img/home/text-car.png" alt="">
        </div>
</section>

<section class="timeline">

    <div class="timeline__top-container">
        <div class="timeline__top-slider js-timeline-top-slider">

            <div class="timeline__top-slide">
                <span>04/2018</span>
            </div>

            <div class="timeline__top-slide">
                <span>05/2018</span>
            </div>
            <div class="timeline__top-slide">
                <span>07/2018</span>
            </div>
            <div class="timeline__top-slide">
                <span>08/2018</span>
            </div>
            <div class="timeline__top-slide">
                <span>09/2018</span>
            </div>

        </div>
    </div>

    <div class="timeline__bot-container container">
        <div class="timeline__bot-slider js-timeline-bot-slider">

            <div class="timeline__bot-slide">
                <div class="timeline__bot-slide-container">
                    <div class="timeline__slide-title"><span>Запуск проекта</span></div>
                    <div class="timeline__slide-date">
                        <span class="bg">04/18</span>
                        <span class="front">Всем добра</span>
                    </div>
                    <div class="timeline__slide-msg">
                        <p>Правильно определенная миссия хотя и имеет всегда общий философский смысл, тем не менее обязательно несет в себе что-то, что делает её уникальной в своем роде, характеризующей именно ту организацию, в которой она была выработана. Демонстрация целей и таймлайн с фичами</p>
                    </div>
                </div>
            </div>

            <div class="timeline__bot-slide">
                <div class="timeline__bot-slide-container">
                    <div class="timeline__slide-title"><span>Запуск проекта</span></div>
                    <div class="timeline__slide-date">
                        <span class="bg">05/18</span>
                        <span class="front">Всем добра</span>
                    </div>
                    <div class="timeline__slide-msg">
                        <p>Правильно определенная миссия хотя и имеет всегда общий философский смысл, тем не менее обязательно несет в себе что-то, что делает её уникальной в своем роде, характеризующей именно ту организацию, в которой она была выработана. Демонстрация целей и таймлайн с фичами</p>
                    </div>
                </div>
            </div>

            <div class="timeline__bot-slide">
                <div class="timeline__bot-slide-container">
                    <div class="timeline__slide-title"><span>Запуск проекта</span></div>
                    <div class="timeline__slide-date">
                        <span class="bg">07/18</span>
                        <span class="front">Всем добра</span>
                    </div>
                    <div class="timeline__slide-msg">
                        <p>Правильно определенная миссия хотя и имеет всегда общий философский смысл, тем не менее обязательно несет в себе что-то, что делает её уникальной в своем роде, характеризующей именно ту организацию, в которой она была выработана. Демонстрация целей и таймлайн с фичами</p>
                    </div>
                </div>
            </div>

            <div class="timeline__bot-slide">
                <div class="timeline__bot-slide-container">
                    <div class="timeline__slide-title"><span>Запуск проекта</span></div>
                    <div class="timeline__slide-date">
                        <span class="bg">08/18</span>
                        <span class="front">Всем добра</span>
                    </div>
                    <div class="timeline__slide-msg">
                        <p>Правильно определенная миссия хотя и имеет всегда общий философский смысл, тем не менее обязательно несет в себе что-то, что делает её уникальной в своем роде, характеризующей именно ту организацию, в которой она была выработана. Демонстрация целей и таймлайн с фичами</p>
                    </div>
                </div>
            </div>

            <div class="timeline__bot-slide">
                <div class="timeline__bot-slide-container">
                    <div class="timeline__slide-title"><span>Запуск проекта</span></div>
                    <div class="timeline__slide-date">
                        <span class="bg">09/18</span>
                        <span class="front">Всем добра</span>
                    </div>
                    <div class="timeline__slide-msg">
                        <p>Правильно определенная миссия хотя и имеет всегда общий философский смысл, тем не менее обязательно несет в себе что-то, что делает её уникальной в своем роде, характеризующей именно ту организацию, в которой она была выработана. Демонстрация целей и таймлайн с фичами</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="diag-form">
    <div class="container">

        <div class="section-heading section-heading--centered">
            <h2>Готовы заняться вашим автомобилем:</h2>
        </div>

        <div class="diag-form-container">

            <div class="tabs-container">

                <div class="tabs-nav">
                    <div class="tabs-nav-container">

                        <div class="tabs-nav__item">
                            <a class="active js-toggle-tab">Купить авто</a>
                        </div>

                        <div class="tabs-nav__item">
                            <a class="js-toggle-tab">Продать авто</a>
                        </div>

                    </div>
                </div>

                <div class="tabs-content">

                    <div class="tabs-content__item  tabs-content__item--diag--buy">
                        <form action="#">
                            <div class="input-group">
                                <span class="input-group__label">Марка авто</span>
                                <div class="input-group__inp">
                                    <input type="text" name="diag-manufacturer" placeholder="Прим. Вольво">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group__label">Модель</span>
                                <div class="input-group__inp">
                                    <input type="text" name="diag-model" placeholder="Прим. S80">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group__label">Год выпуска</span>
                                <div class="input-group__inp input-group__inp--small">
                                    <input type="text" name="diag-year" placeholder="Прим. 2018">
                                </div>
                            </div>
                            <button class="btn">Найти авто</button>
                        </form>
                    </div>

                    <div class="tabs-content__item tabs-content__item--diag--sell" style="display: none;">
                        <form action="#">
                            <div class="input-group">
                                <span class="input-group__label">Марка авто</span>
                                <div class="input-group__inp">
                                    <input type="text" name="diag-manufacturer" placeholder="Прим. Вольво2">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group__label">Модель</span>
                                <div class="input-group__inp">
                                    <input type="text" name="diag-model" placeholder="Прим. S802">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group__label">Год выпуска</span>
                                <div class="input-group__inp input-group__inp--small">
                                    <input type="text" name="diag-year" placeholder="Прим. 20182">
                                </div>
                            </div>
                            <button class="btn">Продать  авто</button>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

<section class="articles">
<div class="container">
    <div class="section-heading">
        <h2>Статьи</h2>
    </div>
    <div class="articles__content">
        <div class="articles__content__item">
            <div class="article-img">
                <img src="../img/home/article1.png" alt="">
            </div>
            <div class="article-heading">
                <a href="#">Покупка автомобиля в Минске: плюсы и минусы</a>
            </div>
            <div class="article-text">
                <p>Полная копмьютерная диагностика
                        - на выезд полная копмьютерная диагностика - на выезд.</p>
            </div>
        </div>
        <div class="articles__content__item">
                <div class="article-img">
                    <img src="../img/home/article2.png" alt="">
                </div>
                <div class="article-heading">
                    <a href="#">Как не купить кредитный автомобиль</a>
                </div>
                <div class="article-text">
                    <p>Полная копмьютерная диагностика
                        - на выезд полная копмьютерная диагностика - на выезд.</p>
                </div>
        </div>
        <div class="articles__content__item">
                <div class="article-img">
                    <img src="../img/home/article3.png" alt="">
                </div>
                <div class="article-heading">
                    <a href="#">Советы при покупке нового автомобиля в автосалоне</a>
                </div>
                <div class="article-text">
                    <p>Полная копмьютерная диагностика
                        - на выезд полная копмьютерная диагностика - на выезд.</p>
                </div>
        </div>
        <div class="articles__content__item">
                <div class="article-img">
                    <img src="../img/home/article4.png" alt="">
                </div>
                <div class="article-heading">
                    <a href="#">Советы при покупке подержанного автомобиля</a>
                </div>
                <div class="article-text">
                    <p>Полная копмьютерная диагностика
                        - на выезд полная копмьютерная диагностика - на выезд.</p>
                </div>
        </div>
    </div>
</div>
</section>


{% endblock %}