---
title: home
---

{% extends 'layouts/_layout-main.html' %}

{% block content %}
<section class="hero">
    <div class="hero__slider">
        <div class="hero__slide">
            <div class="hero__background">
                <img src="../img/hero_slide.png" alt="">
            </div>
            <div class="hero__content">
                <div class="container">
                    <h1>Сертификат для продажи авто</h1>
                    <h2>Полная диагностика по 546 пунктам</h2>
                    <span>Компьютерная диагностика + осмотр экспертом + отчет</span>
                    <a href="#" class="btn">Заказать диагностику</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home__cards">
    <div class="container">
        <div class="home__cards__row">
            <div class="item">
                <div class="item__img">
                    <img src="../img/home/card-car1.png" alt="">
                </div>
                <div class="item-heading">
                    <h2>Купить авто</h2>
                </div>
                <div class="item-text">
                    <p>Полная копмьютерная диагностика - на выезд</p>
                </div>
                <a href="#" class="btn">Застраховать</a>
            </div>
            <div class="item">
                <div class="item__img">
                    <img src="../img/home/card-car2.png" alt="">
                </div>
                <div class="item-heading">
                    <h2>Продать авто</h2>
                </div>
                <div class="item-text">
                    <p>Полная копмьютерная диагностика - на выезд</p>
                </div>
                <a href="#" class="btn">Застраховать</a>
            </div>
            <div class="item">
                <div class="item__img">
                    <img src="../img/home/card-laptop.png" alt="">
                </div>
                <div class="item-heading">
                    <h2>Проверить авто</h2>
                </div>
                <div class="item-text">
                    <p>Полная копмьютерная диагностика - на выезд</p>
                </div>
                <a href="#" class="btn">Застраховать</a>
            </div>
            <div class="item">
                <div class="item__img">
                    <img src="../img/home/card-certificate.png" alt="">
                </div>
                <div class="item-heading">
                    <h2>Сертификат авто</h2>
                </div>
                <div class="item-text">
                    <p>Полная копмьютерная диагностика - на выезд</p>
                </div>
                <a href="#" class="btn">Застраховать</a>
                </div>
        </div>
        <div class="home__cards-row">
            <div class="item item--big">
                <div class="item-heading">
                    <h2>Проверка авто перед покупкой</h2>
                </div>
                <div class="home__cards-text">
                    <p>Полная копмьютерная диагностика - на выезд</p>
                    <a href="#" class="btn"></a>
                </div>
                <div class="home__cards-img">
                    <img src="../img/home/card-car-svg.svg" alt="">
                </div>
            </div>
            <div class="item item--big">
                <div class="item-heading">
                    <h2>Получите сертификат качества авто</h2>
                </div>
                <div class="home__cards-text">
                    <p>Полная копмьютерная диагностика - на выезд</p>
                    <a href="#" class="btn"></a>
                </div>
                <div class="home__cards-img">
                    <img src="../img/home/card-certificate-svg.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}