{% macro cheslavMacro (noShow) %}

<div class="cheslav-block">
    <div class="container">
        <div class="section-heading">
            <h2>Чеслав - честь и слава!</h2>
        </div>
        <div class="cheslav-block-content">
            <div class="cheslav-block-item">
                <div class="cheslav-block-item-heading">
                    <h4>Всем добра</h4>
                </div>
                <div class="cheslav-block-item-text">
                    <p>Правильно определенная миссия хотя и имеет всегда общий философский смысл, тем не менее обязательно несет в себе что-то, что делает её уникальной в своем роде, характеризующей именно ту организацию, в которой она была выработана.</p>
                    <p>По мнению Стива Бланка, известного американского предпринимателя, «Крестного отца Кремниевой долины», миссия организации может стать эффективным инструментом управления, если она содержит как описание задач, которые необходимо выполнить, так и обоснование этих задач. Она должна отвечать на вопросы: зачем люди приходят на работу, чем они занимаются и как определяют, что они делают это хорошо.</p>
                </div>
            </div>
            <div class="cheslav-block-item {{noShow}}">
                <div class="cheslav-block-item-img">
                    <img src="../img/cheslav-car.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}