{% macro diagSection(title, bgClass, specialClass, addText) %}

<section class="diag-form {{specialClass}} {{bgClass}}">
    <div class="container">

        <div class="section-heading section-heading--centered">
            <h2>{{title}}</h2>
        </div>

        {% if addText %}
        <div class="diag-intro">
            <p>{{addText}}</p>
        </div>
        {% endif %}

        <div class="diag-form-container">

            <div class="tabs-container">

                <div class="tabs-nav">
                    <div class="tabs-nav-container">

                        <div class="tabs-nav__item">
                            <a class="active js-toggle-tab">Купить авто</a>
                        </div>

                        <div class="tabs-nav__item">
                            <a class="js-toggle-tab">Продать авто</a>
                        </div>

                    </div>
                </div>

                <div class="tabs-content">

                    <div class="tabs-content__item  tabs-content__item--diag--buy">
                        <form action="#">
                            <div class="input-group">
                                <span class="input-group__label">Марка авто</span>
                                <div class="input-group__inp">
                                    <input type="text" name="diag-manufacturer" placeholder="Прим. Вольво">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group__label">Модель</span>
                                <div class="input-group__inp">
                                    <input type="text" name="diag-model" placeholder="Прим. S80">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group__label">Год выпуска</span>
                                <div class="input-group__inp input-group__inp--small">
                                    <input type="text" name="diag-year" placeholder="Прим. 2018">
                                </div>
                            </div>
                            <button class="btn">Найти авто</button>
                        </form>
                    </div>

                    <div class="tabs-content__item tabs-content__item--diag--sell" style="display: none;">
                        <form action="#">
                            <div class="input-group">
                                <span class="input-group__label">Марка авто</span>
                                <div class="input-group__inp">
                                    <input type="text" name="diag-manufacturer" placeholder="Прим. Вольво2">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group__label">Модель</span>
                                <div class="input-group__inp">
                                    <input type="text" name="diag-model" placeholder="Прим. S802">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group__label">Год выпуска</span>
                                <div class="input-group__inp input-group__inp--small">
                                    <input type="text" name="diag-year" placeholder="Прим. 20182">
                                </div>
                            </div>
                            <button class="btn">Продать  авто</button>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

{% endmacro %}