<section class="car-scheme">
    <div class="container">
        <div class="section-heading">
            <h2>Что мы проверяем</h2>
        </div>
        <div class="car-scheme-block">
            <div class="car-scheme-img">
                <img src="../img/diagnostics/car-scheme.png" alt="">
            </div>
            <div class="car-scheme-dots">
                <div class="car-scheme-dot jur-chistota">
                    <span>Юридическая чистота</span>
                    <div class="dot-info">
                        <div class="dot-info-container">
                            <div class="dot-info-img">
                                <img src="../img/diagnostics/car-scheme-info.svg" alt="">
                            </div>
                            <div class="dot-info-text">
                                <p>Подробный осмотр двигателя позволяет выявить все потенциальные проблемы и качество обслуживания со стороны прошлого владельца</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-scheme-dot kuzov">
                    <span>Кузов</span>
                    <div class="dot-info">
                        <div class="dot-info-container">
                            <div class="dot-info-img">
                                <img src="../img/diagnostics/car-scheme-info.svg" alt="">
                            </div>
                            <div class="dot-info-text">
                                <p>Подробный осмотр двигателя позволяет выявить все потенциальные проблемы и качество обслуживания со стороны прошлого владельца</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-scheme-dot kpp">
                    <span>КПП</span>
                    <div class="dot-info">
                        <div class="dot-info-container">
                            <div class="dot-info-img">
                                <img src="../img/diagnostics/car-scheme-info.svg" alt="">
                            </div>
                            <div class="dot-info-text">
                                <p>Подробный осмотр двигателя позволяет выявить все потенциальные проблемы и качество обслуживания со стороны прошлого владельца</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-scheme-dot pribori">
                    <span>Приборы</span>
                    <div class="dot-info">
                        <div class="dot-info-container">
                            <div class="dot-info-img">
                                <img src="../img/diagnostics/car-scheme-info.svg" alt="">
                            </div>
                            <div class="dot-info-text">
                                <p>Подробный осмотр двигателя позволяет выявить все потенциальные проблемы и качество обслуживания со стороны прошлого владельца</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-scheme-dot vpusk">
                    <span>Впуск</span>
                    <div class="dot-info">
                        <div class="dot-info-container">
                            <div class="dot-info-img">
                                <img src="../img/diagnostics/car-scheme-info.svg" alt="">
                            </div>
                            <div class="dot-info-text">
                                <p>Подробный осмотр двигателя позволяет выявить все потенциальные проблемы и качество обслуживания со стороны прошлого владельца</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-scheme-dot dvigatelj">
                    <span>Двигатель</span>
                    <div class="dot-info">
                        <div class="dot-info-container">
                            <div class="dot-info-img">
                                <img src="../img/diagnostics/car-scheme-info.svg" alt="">
                            </div>
                            <div class="dot-info-text">
                                <p>Подробный осмотр двигателя позволяет выявить все потенциальные проблемы и качество обслуживания со стороны прошлого владельца</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-scheme-dot turbina">
                    <span>Турбина</span>
                    <div class="dot-info">
                        <div class="dot-info-container">
                            <div class="dot-info-img">
                                <img src="../img/diagnostics/car-scheme-info.svg" alt="">
                            </div>
                            <div class="dot-info-text">
                                <p>Подробный осмотр двигателя позволяет выявить все потенциальные проблемы и качество обслуживания со стороны прошлого владельца</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-scheme-dot akb">
                    <span>АКБ</span>
                    <div class="dot-info">
                        <div class="dot-info-container">
                            <div class="dot-info-img">
                                <img src="../img/diagnostics/car-scheme-info.svg" alt="">
                            </div>
                            <div class="dot-info-text">
                                <p>Подробный осмотр двигателя позволяет выявить все потенциальные проблемы и качество обслуживания со стороны прошлого владельца</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>