<header>
    <div class="container">

        <a class="header-logo">
            <img src="../../img/logo.png" alt="">
        </a>

        <div class="header-nav">
            <div class="header-nav__item"><a>Купить авто</a></div>
            <div class="header-nav__item"><a>Продать авто</a></div>
            <div class="header-nav__item"><a>Проверить авто</a></div>
            <div class="header-nav__item"><a>Сертифицировать авто</a></div>
        </div>
        
        <div class="header-auth">
            <a href="#" class="btn btn--reverse">Вход</a>
        </div>

    </div> 
</header>