---
title: cheslav
pages: 
- title: home
  href: home
- title: home2
  href: home2
- title: diagnostics
  href: diagnostics
- title: purchase
  href: purchase
- title: certificate
  href: certificate
- title: prices
  href: prices
- title: about
  href: about
---
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{title}}{% else %}no-title{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">

  </head>
  <body>

    <h3>{{title}}</h3>

    <hr>

    {% for page in pages %}
    <a href="/html/{{page.href}}.html">{{page.title}}</a>
    {% endfor %}

  </body>
</html>
